docker run --rm -it \
    --name="letsencrypt" \
    -e CF_EMAIL='<CLOUDFLARE_EMAIL>' \
    -e CF_KEY='<CLOUDFLARE_KEY>' \
    -v letsencrypt/accounts:/letsencrypt/accounts \
    -v letsencrypt/certs:/letsencrypt/certs \
    -v letsencrypt/domains.txt:/letsencrypt/domains.txt:ro \
    tnwhitwell/letsencrypt.sh-cloudflare
