docker run --rm -it \
    --name="letsencrypt.sh" \
    -e CF_EMAIL='<CLOUDFLARE_EMAIL>' \
    -e CF_KEY='<CLOUDFLARE_KEY>' \
    -v letsencrypt.sh/accounts:/letsencrypt.sh/accounts \
    -v letsencrypt.sh/certs:/letsencrypt.sh/certs \
    -v letsencrypt.sh/domains.txt:/letsencrypt.sh/domains.txt:ro \
    letsencrypt.sh
